@model IEnumerable<VisitorModel>

@{
    ViewData["Title"] = "IndexUser";
}

<h2>IndexUser</h2>

<p>
    <a asp-area="" asp-controller="Beheerder" asp-action="CreateUser">Add a new user</a>
</p>

<form asp-controller="Beheerder" asp-action="ToggleBlockAllUsers" method="post">
    <button type="submit">
        @if (ViewBag.AllUsersBlocked)
        {
            <text>Unblock All Users</text>
        }
        else
        {
            <text>Block All Users</text>
        }
    </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Changes</th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @foreach (var role in ViewBag.Roles[user.Id])
                    {
                        @role
                    }
                </td>
                <td>@user.Email</td>
                <td>
                    <a asp-controller="Beheerder" asp-action="EditUser" asp-route-id="@user.Id">Edit</a> |

                    <!-- DELETE Form -->
                    <form asp-controller="Beheerder" asp-action="DeleteUser" asp-route-id="@user.Id" method="post" style="display: inline-block;">
                        <button type="submit">Delete</button>
                    </form>

                </td>
                <td>
                    <form asp-controller="Beheerder" asp-action="ToggleBlockUser" method="post">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit">
                            @if (ViewBag.LockoutStatus[user.Id])
                            {
                                <text>Unblock</text>
                            }
                            else
                            {
                                <text>Block</text>
                            }
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
