@model IEnumerable<MVCLibraryApp.Models.AuteurModel>

@{
    ViewData["Title"] = "IndexAuthor";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateAuthor">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                <a asp-action="EditAuthor" asp-route-id="@item.ID">Edit</a> 
                <a asp-action="DetailsAuthor" asp-route-id="@item.ID">Details</a>
                    @if (User.IsInRole("Beheerder"))
                    {
                        <a asp-action="DeleteAuthor" asp-controller="Beheerder" asp-route-id="@item.ID">Delete</a>

                    }
            </td>
        </tr>
}
    </tbody>
</table>
