@model IEnumerable<MVCLibraryApp.Models.ItemModel>

@{
    ViewData["Title"] = "IndexItem";
}

<h1>Items Index</h1>

<p>
    <a asp-action="CreateItem">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publicatiejaar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicatiejaar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locatie.ID)
            </td>
            <td>
                <a asp-action="EditItem" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="DetailsItem" asp-route-id="@item.ID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
