@model IEnumerable<MVCLibraryApp.Models.AbonnementModel>

@{
    ViewData["Title"] = "IndexAbonnement";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateAbonnement">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximaleItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uitleentermijn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verlengingen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserveringskosten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boetekosten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abonnementskosten)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximaleItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uitleentermijn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verlengingen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reserveringskosten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boetekosten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abonnementskosten)
            </td>
            <td>
                <a asp-action="EditAbonnement" asp-route-id="@item.ID">Edit</a> 
                <a asp-action="DeleteAbonnement" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
