@{
    ViewData["Title"] = "IndexBezoeker";
}

<p>
    <a asp-area="" asp-controller="Medewerker" asp-action="CreateBezoeker">Add a new user</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Membership status</th>
            <th>Phonenumber</th>
            <th>Changes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bezoeker in ViewBag.Bezoekers)
        {
            <tr>
                <td>@bezoeker.UserName</td>  <!-- assuming the username field represents the name -->
                <td>
                    @foreach (var rol in ViewBag.Rol[bezoeker.Id])
                    {
                        @rol
                    }
                </td>
                <td>@bezoeker.Email</td>
                <td>@bezoeker.Lidmaatschapsstatus</td> <!-- Custom field in Identity User -->
                <td>@bezoeker.PhoneNumber</td>
                <td>
                    <a asp-controller="Medewerker" asp-action="Edit" asp-route-id="@bezoeker.Id">Edit</a> |
                    <a asp-controller="Medewerker" asp-action="Delete" asp-route-id="@bezoeker.Id">Delete</a>
                
                </td>
                <td>
                    <form asp-controller="Medewerker" asp-action="ToggleBlockUser" method="post">
                        <input type="hidden" name="id" value="@bezoeker.Id" />
                        <button type="submit">
                            @if (ViewBag.LockoutStatus[bezoeker.Id])
                            {
                                <span>Unblock</span>
                            }
                            else
                            {
                                <span>Block</span>
                            }
                        </button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
