@{
    ViewData["Title"] = "LeningenBeheer";
}

<h1>Open Reservations</h1>

@if (ViewBag.AvailableItems.Count > 0)
{
    <table>
        <tr>
            <th>Item ID</th>
            <th>Title</th>
            <th>Author</th>
            <!-- Add more columns as needed -->
            <th></th>
        </tr>
        @foreach (var item in ViewBag.Reservations)
        {
            <tr>
                <td>@item.Item.ID</td>
                <td>@item.Item.Titel</td>
                <td>@item.Item.Auteur</td>
                <!-- Display more item properties -->
                <td>
                    <form method="post" asp-action="LendItem">
                        <input type="hidden" name="itemId" value="@item.ID" />
                        <button type="submit">Lend</button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No available items to lend.</p>
}

<h1>Return Loaned Items</h1>

@if (ViewBag.Loans.Count > 0)
{
    <table>
        <tr>
            <th>Item ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>User Email</th> <!-- New Column -->
            <th></th>
        </tr>
        @foreach (var item in ViewBag.Loans)
        {
            <tr>
                <td>@item.Item.ID</td>
                <td>@item.Item.Titel</td>
                <td>@item.Item.Auteur.Name</td> <!-- Use the Item property to access the ItemModel associated with the LeningModel -->
                <td>@item.Bezoeker.Email</td>
                <td>
                    <form method="post" asp-action="ReturnItem">
                        <input type="hidden" name="itemId" value="@item.Item.ID" />
                        <button type="submit">Return Item</button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No available items to lend.</p>
}