@{
    ViewData["Title"] = "Dashboard";
}

    <table class="table">
        <thead>
            <tr>
                <th class="col-3">ID</th>
            <th class="col-2">Naam</th>
            <th class="col-1">Lidmaatschapsstatus</th>
                <th>Abonnement</th>
                <th>Aanpassingen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bezoeker in ViewBag.Bezoekers)
            {
                <tr>
                    <td>@bezoeker.Id</td>
                    <td>@bezoeker.Naam</td>
                    <td>@bezoeker.Lidmaatschapsstatus</td>
                    <td>@bezoeker.UserName</td>
                <td>@bezoeker.Email</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = bezoeker.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = bezoeker.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>