@{
    ViewData["Title"] = "Dashboard";
}

    <p>
           <a asp-area="" asp-controller="Beheerder" asp-action="Create">Maak een nieuwe gebruiker aan</a>
                            </p>

<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Rol</th>
            <th>Email</th>
            <th>Lidmaatschapsstatus</th>
            <th>Telefoonnummer</th>
            <th>Aanpassingen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bezoeker in ViewBag.Bezoekers)
        {
            <tr>
                <td>@bezoeker.Naam</td>
                <td>
                    @foreach (var rol in ViewBag.Rol[bezoeker.Id])
                    {
                        @rol
                    }
                </td>
                <td>@bezoeker.Email</td>
                <td>@bezoeker.Lidmaatschapsstatus</td>
                <td>@bezoeker.PhoneNumber </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = bezoeker.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = bezoeker.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
