@{
    ViewData["Title"] = "Dashboard";
}

@{
    List<BezoekerModel> bezoekers = ViewBag.Bezoekers;
}
@if (bezoekers != null && bezoekers.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bezoeker in bezoekers)
            {
                <tr>
                    <td>@bezoeker.Id</td>
                    <td>@bezoeker.Naam</td>
                    <td>@bezoeker.Naam</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = bezoeker.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = bezoeker.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No bezoekers found.</p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>